@import url("./common.css");

:root {
    --input-background-color: #fff;
    --input-text-color: #000;
    --input-padding: 5px;

    --input-disabled-background-color: #ccc;
    --input-disabled-text-color: #333;

    --input-focused-background-color: #d6f3ff;

    --textarea-line-height: 1.5;
}

input[type="text"],
input[type="number"],
textarea,
select {
    display: block;
    font-family: "Noto Sans JP", sans-serif;
    padding: var(--input-padding);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--input-background-color);
    color: var(--input-text-color);

    &:focus {
        outline: none;
        background-color: var(--input-focused-background-color);
    }

    &:disabled {
        background-color: var(--input-disabled-background-color);
        color: var(--input-disabled-text-color);
    }
}

input[type="number"] {
    width: 80px;
}

#editor-meta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editor-meta {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: center;
    width: min(100%, 1000px);
    margin: 0 auto;

    input[type="text"].meta-input-short {
        width: 200px;
    }
}

.meta-item-label {
    font-weight: bold;
    line-height: 1;
}

.form-short {
    width: fit-content;
}

.meta-displaier {
    grid-column: 1 / 3;
    width: fit-content;
    margin: 0 auto;

    .meta-displaier-value {
        font-family: "Noto Mono", monospace;
    }
}

.editor-description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .editor-description-control {
        display: flex;
        gap: 10px;

        button {
            span {
                font-family: 'Noto Mono', monospace;
                font-weight: bold;
            }
        }
    }

    #meta-skill-description {
        field-sizing: content;
        min-height: calc(var(--textarea-line-height) * 1em);
        max-height: calc(var(--textarea-line-height) * 4em);
        resize: none;
        scrollbar-width: none;
    }
}